/* 
  Author: Sam Ng - chanhnp@gmail.com, github.com/exfoxz
*/

*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: Arial;
  margin: 0;
}

header {
  color: #000;
}

header h1 {
  font-size: 30px;
  padding: 0px 0px 10px 20px;
}

.outer-container{
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  min-height: 0px;
}

#nb-content{
  color: darkgrey;
}

#sidebar{
/*  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.4);
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.4);*/
  padding: 0px 10px 15px;
}

#sidebar > .inner p {

}

#sidebar > .inner {
 -webkit-transition: opacity 0.5s;
 -o-transition: opacity 0.5s;
 transition: opacity 0.5s;
}

#sidebar > .inner.pre-animation {
  opacity: 0;
}

footer{
  height: 300px;
  height: 85vh;
  border: 2px dotted black;
  margin-top: 20px;
  text-align: center;
  color: #8e8d8d;
  background: rgba(0, 0, 0, 0.02);
  line-height: 300px;
  line-height: 95vh;
}

footer p{
  margin: 0;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/


body,
html,
.outer-container {
  height: 100%;
}
.outer-container,
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  min-height: 0;
}
.outer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.top {
  display: none;
}

#left {
  margin-bottom: 3px;
  margin-right: 0px;

  position: relative;
  /*-webkit-box-flex: 0;*/
      /*-ms-flex: 0;*/
          flex: 1;
  min-width: 300px;
  background-color: #fff;

  font-family: 'Open Sans', sans-serif;

}

#left p {
  line-height: 1.0rem;
  margin-top: 0;
  margin-bottom: 0;
}

#left .inner {
  line-height: 1.0rem;
  font-size: 13px;
  margin-top: 10px;
}

#right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 3px;
  margin-top: 0px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;

  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);

  -webkit-transition: -webkit-box-flex 0.3s ease-in-out, -webkit-box-shadow 0.1s linear;

  transition: -webkit-box-flex 0.3s ease-in-out, -webkit-box-shadow 0.1s linear;

  -o-transition: flex 0.3s ease-in-out, box-shadow 0.1s linear;

  transition: flex 0.3s ease-in-out, box-shadow 0.1s linear;

  transition: flex 0.3s ease-in-out, box-shadow 0.1s linear, -webkit-box-flex 0.3s ease-in-out, -ms-flex 0.3s ease-in-out, -webkit-box-shadow 0.1s linear;
}

/*#right:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
*/

#right.shrink {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
}

#middle {
  flex: 0;
  min-height: 20px;
  min-width: 20px;
  position: relative;
}

#expand-sidebar {
  width: 15;
  height: 15;
  padding: 2px;
  text-decoration: none;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -10px 0 0 -10px;
  outline: 0;
  border: 0;
}

#expand-sidebar .icon {
  background: url(https://image.flaticon.com/icons/svg/161/161697.svg) no-repeat;
  float: left;
  width: 15px;
  height: 15px;
  fill: black;
}  

.icon .rotate {
  transform: rotate(90deg);
}
#expand-sidebar .span {
    float: left;
    width: 15px;
    height: 15px;
}  

.content div {
  overflow: scroll;
}

figure {
  /*float: right;*/
  /*width: 50%;*/
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  /*border: thin silver solid;*/
  margin: 0.5em;
  padding: 0.5em;
}


span.hoverable {
  text-decoration: none;
  border-bottom: 2px solid #d1d1d1;
  -webkit-transition: font-weight 0.3s;
  -o-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  -webkit-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

span.hoverable:hover {
  font-weight: bold;
  border-bottom: 3px solid black;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #right {
    margin-left: 0px;
    margin-top: 3px;
  }

  #left {
    margin-bottom: 3px;
    margin-right: 0px;
  }

  #expand-sidebar .icon {
    transform: rotate(90deg);
  }
}


}

/* Small screens */
@media all and (max-width: 500px) {

}